/* Smartphones iPhone 4  any small screen*/

@media (min-width: 0px) and (max-width: 320px) {
    .container {
        width: 95% !important;
    }

    #weather-card .position-weather {
        position: relative;
        bottom: 100px;
    }

    ::placeholder {
        font-size: 9px;

    }
}


@media (min-width: 321px)and (max-width: 480px) {
    .container {
        width: 95% !important;
    }

    ::placeholder {
        font-size: 11.5px;
    }
}


@media (min-width: 481px) and (max-width: 640px) {
    .container {

        width: 90% !important;
    }
}

@media (min-width: 641px) and (max-width: 800px) {}


@media (min-width: 801px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}


/* Desktops and laptops ----------- */
@media (min-width: 1281px) and (max-width: 1800px) {

    /* nav bar */
    .navbar {
        padding: 0px 150px;
    }

    /* nav bar */



}

@media (min-width:1801px)and (max-width: 2200px) {

    /* nav bar */
    .navbar {
        padding: 0px 150px;
    }

    /* nav bar */


}

@media (min-width:0px)and (max-width: 990px) {

    /* nav bar */
    .nav-ul {
        margin-right: 0;
        background-color: #262936;
    }

    .nav-item {
        margin-left: 0px;
        border: none !important;
    }

    .nav-item a {
        border-top: dotted 1px rgba(255, 255, 255, 0.13);
        padding-top: 20PX;
        font-size: 16px;
    }

    .navbar {
        padding: 10px 10px;

    }

    /* nav bar */



    /* card */
    .border-top-left {
        border-top-left-radius: 10px;
    }

    .border-bottom-left {
        border-bottom-left-radius: 0px;
    }

    .border-top-right {
        border-top-right-radius: 10px;
    }

    .border-top-right2 {
        border-top-right-radius: 10px;
    }

    .border-bottom-right2 {
        border-bottom-right-radius: 10px;
    }

    .border-bottom-left2 {
        border-bottom-left-radius: 10px;
    }

    .border-top-right2 {
        border-top-right-radius: 0px;
    }

    #weather-card {
        background-color: #1e202b;
        height: auto;

    }

    /* card */


    #footer p {
        margin-top: 20px;
        text-align: center;
    }




}

/* nav bar */
@media (min-width:991px)and (max-width: 1280px) {
    .navbar {
        padding: 0px 0px;
    }



}

/* nav bar */


/* current degree size */
@media (min-width:992px)and (max-width: 1250px) {
  .size-mediaQ{
    font-size: 44px !important;
    margin-top: 9px;
  }
}
/* current degree size */
