/* Smartphones iPhone 4  any small screen*/

@media (min-width: 0px) and (max-width: 320px) {
    .bg-image .container{
        top: 22%;
    width: 100% !important;
    }
}


@media (min-width: 321px)and (max-width: 480px) {
    .bg-image .container{
        top: 22%;
    width: 100% !important;
    }
}


@media (min-width: 481px) and (max-width: 640px) {
    .bg-image .container{
        top: 22%;
    width: 90% !important;
    }
}


@media (min-width: 641px) and (max-width: 800px) {

}


@media (min-width: 801px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}




/* Desktops and laptops ----------- */
@media (min-width: 1281px) and (max-width: 1800px) {
    /* nav bar */
    .navbar {
        padding: 0px 150px;
    }
    /* nav bar */



}

@media (min-width:1801px)and (max-width: 2200px) {

    /* nav bar */
    .navbar {
        padding: 0px 150px;
    }
    /* nav bar */


}






/* nav bar */
@media (min-width:0px)and (max-width: 990px) {
    .nav-ul {
        margin-right: 0;
        background-color: #262936;
    }

    .nav-item {
        margin-left: 0px;
        border: none !important;
    }

    .nav-item a {
        border-top: dotted 1px rgba(255, 255, 255, 0.13);
        padding-top: 20PX;
        font-size: 16px;
    }

    .navbar {
        padding: 10px 10px;

    }
}

@media (min-width:991px)and (max-width: 1280px) {


    .navbar {
        padding: 0px 0px;
    }
}
/* nav bar */