/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
    background-color: #262936 ;
}

:root {
    scroll-behavior: smooth;
}

.container {
    width: 80% !important;
}

/* global */


/* var */

:root {

    --info: #0dcaf0;
    --navy: #1e202b
}

/* var */



/* nav bar */

.navbar {
    background-color: var(--navy);
}

.nav-ul {
    margin-right: 25px;
}

.navbar-brand {
    margin-bottom: 20px;

}

.navbar-brand h5,
.navbar-brand p {
    font-size: 13px;
}

.navbar-brand h5 {
    font-size: 16px;
}

.navbar-brand img {
    width: 60px;
}

.navbar-brand div {
    position: relative;
    top: 20px;

}

.nav-item {
    margin-left: 10px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0
}

.nav-item a {
    font-size: 12px;

}


.navitem-hover {
    transition: all .3s;
    border: 2px solid transparent;
}



.navitem-hover:hover {
    border-radius: 50rem;
    border-width: 2px;
    border-color: var(--info);
    border-style: solid;
}

/* nav bar */





/* background */
.bg-image {
    background-image: url(img/cairo.jpg);
    background-position: center;
    background-size: cover;
    height: 45vh;
    width: 100%;
}


.bg-image button {
    position: absolute;
    top: 7.8px;
    right: 18px;
    padding-left: 40px;
    padding-right: 40px;
}

.bg-image .container {
    top: 22%;
}

.form-control {
    color: white;
    background-color: var(--navy);
    border: 1px solid transparent;
}

.form-control:focus {
    color: #ffffff;
    background-color: var(--navy);
    border-color: transparent;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0)
}

/* background */



/* weather card */
#weather-card{
    background-color: #1e202b;
  height: 40vh;

}
#weather-card .position-weather{
   position: relative;
   bottom: 150px;
}



.cardHeader {
    background-color: #2d303d;

}

.cardBody img {
    width: 80px;
}

.cardBody {
    background-color: #323544;
    height: 280px;
}

.card-text-color {
    color: #bfc1c8;
}


.cardHeader2 {
    background-color: #222530;

}

.cardBody2 {
    background-color: #262936;
    height: 280px;
}

.cardBody2 img {
    width: 60px;
}

.cardBody2 h4 {
    font-size: 18px;
}

.cardBody h2 {
    font-size: 65px;
    font-weight: 700;
}

.cardHeader3 {
    background-color: #2d303d;
}

.cardBody3 img {
    width: 60px;
}
.cardBody3 h4 {
    font-size: 18px;
}
.cardBody3 {
    background-color: #323544;
    height: 280px;
}


.border-top-left{
  
   border-top-left-radius: 10px;

}.border-bottom-left{
  
   border-bottom-left-radius: 10px;

}
.border-top-right2{
  
   border-top-right-radius: 10px;

}
.border-bottom-right2{
  
   border-bottom-right-radius: 10px;

}
/* weather card */



/* footer */
#footer{
    background-color: #262936 ;
    height: 200px;
}


#footer button {
    position: absolute;
    top: 7.8px;
    right: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

#footer span{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
   background-color: var(--navy);
cursor: pointer;
transition: all;
text-align: center;
}
#footer span:hover {
   background-color: var(--info);
}
#footer span:hover i{
   color: white;
}

 #footer span i{
  margin-top: 9px;
 color:var(--info);
 transition: all .5s;

}

#footer p{
    font-size: 13px;
}

/* footer */
